html,
body {
  height: 100%;
  background-color:  #FFF;
  color: #000;
  font: 14px Arial;
  margin: 0px;
  padding: 0px;
  position: relative;
}

/* #csvImportContainer{
  background-color: #FFFFFF;
  height: 100%;
} */

.csvHelpText{
  color: #000;
  padding-left: 10%;
}
.csvFileInstructions{
  font: 14px Arial;
  color:black;
  padding-left: inherit;
}